extends layout

block content
  h1= title
  p Welcome to #{title}

  <body>
  	<div id = "wrapper">
  		<header class = "index_header">
  			<h1>Individual Assignment #3</h1>
  		</header> <!--end of header-->
  		<div class="container">
  			<div id = "uno"><button id="myBtn">Click Me!</button></div>
  			<div id = "dos">
  				<p>Try resizing this browser window to trigger the "resize" event handler.</p>
  			</div>
  			<div id = "tres"><p>Hover over me, to change me.</p></div>
  			<div id = "cuatro"><p>This example uses the addEventListener() method to add many events on the document.</p></div>
  			<div id = "cinco"><img id="myImage" src="images/bulboff.gif" width="90" height="162"></div>
  		</div> <!--end of container-->
  	</div> <!--end of wrapper-->
  </body>
